<h1><%= @presenter.full_name %></h1>

<p>First Name: <%= @presenter.user.first_name %></p>
<p>Last Name: <%= @presenter.user.last_name %></p>
<p>Email: <%= @presenter.user.email %></p>
<p>Role: <%= @presenter.user.role %></p>

<ul>
  <li><%= link_to "Edit", edit_user_path(@presenter.user) %></li>
  <li><%= link_to "Destroy", user_path(@presenter.user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
